---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url(https://fonts.googleapis.com/css?family=Titillum+Web);

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  
  body {
    background-color: lightblue;
    font-family: "Mooli", sans-serif;
    color: darkgrey;
  }

  .site-title, .site-title:visited {
    font-family: "Mooli", sans-serif;
    color:  darkgrey;
  }
  
  .footer-col-wrapper, .social-links {
    font-family: "Mooli", sans-serif;
    color:  darkgrey;
  }

